<ion-header>
  <ion-toolbar>
    <ion-title>
      Mapas do Vini =)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ion-card (click)="onMap1Click()">
          <ion-card-header>
            <ion-card-title>Mapa 1</ion-card-title>
            <ion-card-subtitle>Mapa marcado na minha casa</ion-card-subtitle>
          </ion-card-header>
      </ion-card>

      <ion-card (click)="onMap2Click()">
          <ion-card-header>
            <ion-card-title>Mapa 2</ion-card-title>
            <ion-card-subtitle>Mapa marcado na minha localização atual</ion-card-subtitle>
          </ion-card-header>
      </ion-card>

      <ion-card (click)="onMap3Click()">
          <ion-card-header>
            <ion-card-title>Mapa 3</ion-card-title>
            <ion-card-subtitle>Mapa com sistemas de rotas</ion-card-subtitle>
          </ion-card-header>
      </ion-card>
  </div>
</ion-content>
